<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.7.0/parsley.min.js"></script>

<!DOCTYPE html>
{% extends 'data.html' %}

{% load static %}
{% block content %}


<body>
<form method="POST" action="/areaupdate/{{area_table.area_id}}" data-parsley-validate="">
  {% csrf_token %}
    <center>
  <section class="content">

     <!-- Basic Forms -->
      <div class="box box-default">
        <div class="box-header with-border">
         <center><h3 align="left"><b>EDIT AREA</b></h3></center>


        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">

				<div class="form-group clearfix">
				  <label for="example-text1-input" class="col-sm-2 col-form-label">AREA NAME</label>
				  <div class="col-sm-10">
					<input class="form-control" type="text" id="example-text1-input" name="area_name" required="false" value="{{area_table.area_name}}" data-parsley-required="true" data-parsley-required-message="Please Enter Area Name">
				  </div>
				</div>


				<div class="box-footer" align="center">
                <input type="submit" class="btn btn-primary"></input>
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->


      <!-- /.row -->

    </section>
    <!-- /.content -->
        </center>
</form>
</body>


{% endblock %}

