{% extends 'header1.html' %}
{% load static %}
{% block content %}

    <!-- WISHLIST AREA START -->
    <div class="liton__wishlist-area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- PRODUCT TAB AREA START -->
                    <div class="ltn__product-tab-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="ltn__tab-menu-list mb-50">
                                        <div class="nav">                                            
                                            <a class="active show" data-bs-toggle="tab" href="#ltn_tab_1_1">Dashboard <i class="fas fa-home"></i></a>
                                            <a data-bs-toggle="tab" href="#ltn_tab_1_2">Profile <i class="fas fa-user"></i></a>
                                            <a data-bs-toggle="tab" href="#ltn_tab_1_4">Account Details <i class="fas fa-user"></i></a>
                                            <a data-bs-toggle="tab" href="#ltn_tab_1_9">Change Password <i class="fa-solid fa-lock"></i></a>
                                            <a href="/client/userlogout/">Logout <i class="fas fa-sign-out-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="tab-content">
                                        <div class="tab-pane fade active show" id="ltn_tab_1_1">
                                            <div class="ltn__myaccount-tab-content-inner">
                                                <p>Hello <strong>{{user_table.user_fname}} {{user_table.user_lname}}</strong> ( Want to <strong><u><a href="/client/userlogout/" style="color:red">Log out</a></u></strong>?  )</p>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="ltn_tab_1_2">
                                            <div class="ltn__myaccount-tab-content-inner">
                                                <!-- comment-area -->
                                                 <p class="title-2">Your Profile</p>
                                                <div class="ltn__comment-area mb-50">
                                                    <div class="ltn-author-introducing clearfix">
                                                        <div class="author-img">
                                                            <img src="{% static 'img/user.png' %}" alt="Author Image">
                                                        </div>
                                                        <div class="author-info">

                                                            <h4>{{user_table.user_fname}} {{user_table.user_lname}}</h4>
                                                            <div class="footer-address">
                                                                <ul>
                                                                    <li>
                                                                        <div class="footer-address-icon">
                                                                            <i class="icon-placeholder"></i>
                                                                        </div>
                                                                        <div class="footer-address-info">
                                                                            <p>{{user_table.user_add}}</p>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="footer-address-icon">
                                                                            <i class="icon-call"></i>
                                                                        </div>
                                                                        <div class="footer-address-info">
                                                                            <p><a href="tel:+0123-456789">{{user_table.user_con}}</a></p>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="footer-address-icon">
                                                                            <i class="icon-mail"></i>
                                                                        </div>
                                                                        <div class="footer-address-info">
                                                                            <p><a href="mailto:example@example.com">{{user_table.user_email}}</a></p>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="ltn_tab_1_4">
                                            <div class="ltn__myaccount-tab-content-inner">
                                               <p class="title-2">Personal Detail</p>
                                                <div class="ltn__form-box">
                                                    <form action="/client/update/" method="POST">
                                                        {% csrf_token %}
                                                        <div class="row mb-50">
                                                            <div class="col-md-6">
                                                                <label>First name:</label>
                                                                <input type="text" name="user_fname" value="{{user_table.user_fname}}">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Last name:</label>
                                                                <input type="text" name="user_lname" value="{{user_table.user_lname}}">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Contact:</label>
                                                                <input type="text" name="user_con" value="{{user_table.user_con}}">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Email:</label>
                                                                <input type="email" name="user_email" value="{{user_table.user_email}}">
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label>Address:</label>
                                                                <input type="text" name="user_add" value="{{user_table.user_add}}">

                                                            </div>

                                                        </div>

                                                        <div class="btn-wrapper">
                                                            <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Save Changes</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="ltn_tab_1_9">
                                            <div class="ltn__myaccount-tab-content-inner">
                                                 <p class="title-2">Change Password</p>
                                                <div class="ltn__form-box">
                                                    <form action="/client/change/"  method="post" >
                                                        {% csrf_token %}

                                                        <input type="password" name="old" placeholder="Current Password*">
                                                        <input type="password" name="pass" placeholder="New Password*">
                                                        <input type="password" name="cpass" placeholder="Confirm New Password*">
                                                        <div class="btn-wrapper mt-0">
                                                            <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">SAVE CHANGES</button>
                                                        </div>
                                                        <br>
                                                        {% for data in messages %}
                                                        <span style="color.red">{{data}}</span>
                                                        {% endfor %}
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PRODUCT TAB AREA END -->
                </div>
            </div>
        </div>
    </div>
    <!-- WISHLIST AREA START -->


    {% endblock %}