{% extends 'index.html' %}
{% load static %}
{% block content %}

<section class="content">
      <div class="row">
        <div class="col-xs-12">


          <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3>FEEDBACK TABLE</h3>
              <h6 class="box-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <table id="example" class="table table-bordered table-hover display nowrap margin-top-10">
				<thead>

					<tr>
						<th>ID</th>
						<th>DESCRIPTION</th>
						<th>FEEDBACK DATE</th>
						<th>PG NAME</th>
						<th>USER NAME</th>
                        <th><span class="fa fa-trash"></span></th>

					</tr>
				</thead>
				<tbody>
					{% for i in feed_table %}
					<tr>

						<td>{{i.f_id}}</td>
						<td>{{i.f_desc}}</td>
						<td>{{i.f_date}}</td>
						<td>{{i.pg_id.pg_name}}</td>
						<td><a href="/owner/user/{{i.user_id_id}}" class="a">{{i.user_id.user_fname}} {{i.user_id.user_lname}}</a> </td>
						<td><a href="/owner/feed_delete/{{i.f_id}}" class="fa fa-trash"></a></td>

					</tr>
					{% endfor %}

				</tbody>


			</table>


            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
{% endblock %}


	<script src=" {% static 'js/pages/data-table.js' %}"></script>

